<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="none">
    <listeners>
        <listener class-name="com.automation.listeners.AllureListener"></listener>
    </listeners>
    <test name="Test">
        <classes>
            <class name="com.automation.test.AddToWishList"/>
        </classes>
    </test>
</suite>